{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit trick</h1>
    {% form_theme trickForm
        'jquery.collection.html.twig'
        'mediaCollectionFormTheme.html.twig'
        'base.html.twig'
    %}

    {{ form_start(trickForm) }}
    {{ form_row(trickForm.title) }}
    {{ form_row(trickForm.content) }}
    {{ form_row(trickForm.mainPicture) }}
    {{ form_row(trickForm.pictures) }}
    {{ form_row(trickForm.videos) }}
    {{ form_row(trickForm.category) }}
    <button type="submit">Submit</button>
    {{ form_end(trickForm) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajaxPictures.js') }}"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.collection-pictures').collection();
        $('.collection-videos').collection();
    </script>
{% endblock %}

