{% extends 'base.html.twig' %}
{% block title %}{{ trick.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/image-picker.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" />
{% endblock %}
{% block body_class %}<body class="no-sidebar is-preload">{% endblock %}
{% block header_class %}<header id="header">{% endblock %}
    {% block body %}
    {% form_theme trickForm
        'jquery.collection.html.twig'
        'mediaCollectionFormTheme.html.twig'
        'base.html.twig'
    %}

    <article id="main">
        <section class="wrapper style4 container">

    {{ form_start(trickForm) }}
    {{ form_row(trickForm.mainPicture) }}
            <div class="content" id="content-trick">
    {{ form_row(trickForm.pictures) }}
    {{ form_row(trickForm.videos) }}
            </div>
    {{ form_row(trickForm.title) }}
    {{ form_row(trickForm.content) }}
    {{ form_row(trickForm.category) }}
            <button type="submit">Modifier</button>
            <button class="btn delete" value="{{ trick.slug }}">Supprimer</button>
    {{ form_end(trickForm) }}

        </section>
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajaxPictures.js') }}"></script>

    <script src="{{ asset('js/image-picker.js') }}"></script>
    <script type="text/javascript">

        initMainPic();

        function initMainPic() {
            var selectMainPic = document.getElementById("edit_trick_form_mainPicture");
            $('#main-pic').attr("src", selectMainPic.options[0].getAttribute('data-img-src'));
        }

        $('#edit-main-picture').click(function (e) {
                e.preventDefault();
               // on();
                /**$('#edit_trick_form_mainPicture').each(function(key) {
                    var selected = $(this);
                    console.log(key)
                }); **/


                {#
                <div class="form_image">
                 <label for="{{ choice.data.id }}">
                 <img src="{{ asset(choice.attr["data-img-src"]) }}" style="width: 250px; height: 150px" class="mainPicturePicker">
                 </label>
                 <input
                 type="radio"
                 id="{{ choice.data.id }}"
                 name="{{ choice.data.filename }}"
                 value="{{ choice.attr["data-img-src"] }}"
                 {% if transformPicUrl == form.vars.data %}checked{% endif %}
                 >
                 </div>
                #}


                var formImgContainer = document.getElementById("form_image_container");
                formImgContainer.innerHTML = '';

                var x = document.getElementById("edit_trick_form_mainPicture");
                var txt = "";
                var i;
                for (i = 0; i < x.length; i++) {

                    var div = document.createElement('div');
                    div.setAttribute('class', 'form_image');

                    var label = document.createElement('label');
                    label.setAttribute('for', x.options[i].value);

                    //var img = '<img src="'+ x.options[i].getAttribute('data-img-src') +'" alt="snowtrick" style="width:250px; height:150px" class="mainPicturePicker" />';
                    var img = document.createElement('img');
                    img.setAttribute('src', x.options[i].getAttribute('data-img-src'));
                    img.setAttribute('style', 'width:250px; height:150px');
                    img.setAttribute('class', 'mainPicturePicker');
                    img.setAttribute('pic-position', i);

                    label.append(img);
                    div.append(img);
                    $('#form_image_container').append(div);

                    txt = x.options[i];
                    console.log(txt);
                }
                on();
            });

            function callImgPicker() {
                if ($("#edit_trick_form_mainPicture").data('picker'))  {
                    console.log($("#edit_trick_form_mainPicture").data('picker'));
                    $("#edit_trick_form_mainPicture").data('picker').remove();
                }

                $("#edit_trick_form_mainPicture").imagepicker();

            }
    </script>
    <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
    <script>
        $('.test-popup-link').magnificPopup({
            type: 'image'
            // other options
        });

        //$('.video-input').hide();

        $(document).on('click', '.video-button', (function () {
            var inputId = $(this).attr('name');
            var input = $('#'+inputId);
            var divId = inputId.replace('_url', '');
            var iframe = '<div><iframe src="http://www.youtube.com/embed/' + youtube_parser(input.val()) + '?autoplay=0"frameborder="0" id="iframe_' + divId + '"></iframe></div>';
            var label = '<label for="'+ inputId +'" class="required video-label"><i class="fas fa-pen"></i></label>';
            var buttonRemove = '<button class="btn delete blabla" data="#'+ divId +'"><i class="fas fa-trash-alt"></i></button>';
            $('#'+divId).prepend(iframe + label + buttonRemove);
            input.attr('style', 'display:none;');
            $(this).remove();
        }));

        $(document).on('click', '.blabla', function (e) {
           e.preventDefault();
           $(this).parent().parent().remove();
        });

        $(document).on('click', '.video-label', (function (e) {
            e.preventDefault();

            var videoFullName = $(this).attr('for');
            var videoName = videoFullName.replace('_url', '');

            var input = $('#'+videoFullName);
                input.toggle();

                input.change(function () {
                    var iframe = $('#iframe_'+videoName);
                    iframe.attr('src', 'http://www.youtube.com/embed/'+youtube_parser(input.val())+'?autoplay=0"');
                });

        }));

        function youtube_parser(url){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : false;
        }
    </script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.collection-pictures').collection({
            'add': '<a href="#" class="btn btn-default">Add</a>',
            'add_at_the_end': true
        });
        $('.collection-videos').collection({
            'add': '<a href="#" class="btn btn-default">Add</a>',
            'add_at_the_end': true
            //preserve_names: false
        });




        function on() {
            document.getElementById("form_image").style.display = "block";
        }

        function off() {
            document.getElementById("form_image").style.display = "none";
        }

      /**  $(document).on('click', '.mainPicturePicker', function (e) {
            console.log($(this)[0].attributes[0]);
            $('#main-pic').attr("src", $(this)[0].src);
        }); **/

      $(document).on('click', '.mainPicturePicker', function (e) {

          var picChoice = $(this)[0].getAttribute('pic-position');
          $("#edit_trick_form_mainPicture").val(parseInt(picChoice));

          var img = $('#main-pic').attr("src", $(this)[0].src);
      });

        $(document).on('click', '.edit_trick_form_pictures-collection-remove', function (e) {
            var parentDivId = $(this).parent().parent().parent().parent().attr('id');
            var patt1 = /\d/g;
            var result = parentDivId.match(patt1);
            console.log(result[0]);

            var selectMainPic = document.getElementById("edit_trick_form_mainPicture");

            if (selectMainPic.options[result[0]] == selectMainPic.selectedOptions[0])
            {
                selectMainPic.options[result[0]] = null;
                $('#main-pic').attr("src", selectMainPic.options[0].getAttribute('data-img-src'));

            } else { selectMainPic.options[result[0]] = null; }

        });

        $('.delete-main-picture').click(function (e) {
            e.preventDefault();
            var selectMainPic = document.getElementById("edit_trick_form_mainPicture");
            selectMainPic.selectedOptions[0].remove();

            $('#main-pic').attr("src", selectMainPic.options[0].getAttribute('data-img-src'));
        });


    </script>
    <script src="{{ asset('js/deleteTrick.js') }}"></script>
{% endblock %}
