{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block body_class %}<body class="contact">{% endblock %}
{% block header_class %}<header id="header">{% endblock %}

{% block body %}
{% form_theme registrationForm
        'registerFormTheme.html.twig'
    %}
    <article id="main">
        <header class="special container">
            <h2>Inscription</h2>
        </header>

        <section class="wrapper style4 special container medium">

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        {{ form_label(registrationForm) }}

        <div id="registration_btn_div">
            <button type="submit">
            Inscription
            </button>
        </div>

       <a href="{{ path('app_login') }}"  class="link_login_on_registration_page">Déjà inscrit ?</a>

    {{ form_end(registrationForm) }}

        </section>
        </article>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/register.js') }}"></script>
{% endblock %}