<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
            <link rel="manifest" href="{{ asset('site.webmanifest') }}">
            <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#00aba9">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
    </head>
    {% block body_class %}
    <body>
    {% endblock %}
        <div id="page-wrapper">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
            {% block header_class %}
        <header id="header" class="alt">
            {% endblock %}
            <h1 id="logo"><a href="{{ path('app_homepage') }}">SnowTricks</a></h1>
            <nav id="nav">
                <ul>
                    <li class="current"><a href="{{ path('app_homepage') }}#main">Tricks</a></li>
                    {% if is_granted('ROLE_USER') %}

                    <li><a href="{{ path('trick_admin') }}">Ajouter une figure</a></li>
                    <li><a href="{{ path('app_logout') }}" >Déconnexion</a></li>

                    {% else %}
                    <li><a href="{{ path('app_register') }}" >Inscription</a></li>
                    <li><a href="{{ path('app_login') }}" >Connexion</a></li>

                    {% endif %}
                </ul>
            </nav>
        </header>


        {% block body %}{% endblock %}
            <footer id="footer">
                <ul class="icons">
                    <li>
                        <a class="icon brands circle fa-twitter" href="https://twitter.com/tcheuD">
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon brands circle fa-github" href="https://github.com/tcheuD">
                            <span class="label">Github</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon brands circle fa-linkedin" href="https://www.linkedin.com/in/damienchedan/">
                            <span class="label">Linkedin</span>
                        </a>
                    </li>
                </ul>

                <a id="code-climate-analysis" href="https://codeclimate.com/github/tcheuD/p6/maintainability">
                    <img src="https://api.codeclimate.com/v1/badges/9fa126d185c0ed0238fc/maintainability" />
                </a>

            </footer>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
            <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('js/jquery.scrollex.min.js') }}"></script>
            <script src="{{ asset('js/browser.min.js') }}"></script>
            <script src="{{ asset('js/browser.min.js') }}"></script>
            <script src="{{ asset('js/breakpoints.min.js') }}"></script>
            <script src="{{ asset('js/util.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <!-- Magnific Popup core CSS file -->
            <link rel="stylesheet" href="magnific-popup/magnific-popup.css">

            <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

            <!-- Magnific Popup core JS file -->
            <script src="magnific-popup/jquery.magnific-popup.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

        {% endblock %}
    </body>
</html>
