{% extends 'base.html.twig' %}
{% block title %}{{ trick.title }}{% endblock %}
{% block body_class %}<body class="no-sidebar is-preload">{% endblock %}
{% block header_class %}<header id="header">{% endblock %}
{% block body %}
{% form_theme commentForm
        'showTrickFormTheme.html.twig'
    %}
<article id="main">
    <section class="wrapper style4 container">
        <div class="mainPictureContainer">
            <img src="{{ asset(trick.mainPicturePath) }}" class="img-fluid" alt="">
            {% if is_granted('ROLE_USER') %}
            <div class="top-right">
                <form action="{{ path('edit_trick', {slug: trick.slug}) }}">
                    <button class="edit" type="submit"><i class="fas fa-pen"></i></button>
                </form>
                <button class="btn delete delete-trick" value="{{ trick.slug }}"><i class="fas fa-trash-alt"></i></button>
            </div>
            {% endif %}
            <div class="centered"><h2>{{ trick.title }}</h2></div>
        </div>
        <div class="content" id="content-trick">

                {% for picture in trick.pictures %}
                    <div>
                        <img style="width: 250px; height: 150px" src="{{ asset(picture.imagePath) }}" alt="">
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div>
                        <iframe src="http://www.youtube.com/embed/{{ video.identif }}?autoplay=0"
                                frameborder="0"></iframe>
                    </div>
                {% endfor %}

            </div>

                            {{ trick.content|nl2br }}
            <div class="trick-infos">
                <span class="label category">Categorie : {{ trick.category }}</span> <span class="label creation_date">créé le : {{ trick.creationDate|date('d-m-Y') }}</span> <span class="label author">par : {{ trick.createdBy.firstname }} {{ trick.createdBy.name }}</span>
                {% if trick.modificationDate is not null %}
                <span class="label modification_date">
                    Modifié le {{ trick.modificationDate|date('d-m-Y') }}</span>
                    <span class="label autor_modification">par :{{ trick.updatedBy.firstname }} {{ trick.updatedBy.name }}
                </span>
                {% endif %}

            </div>

<div class="comments" id="comment-container">

{% if is_granted('ROLE_USER') %}

    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}

    <button type="submit">
        Ajouter un commentaire
    </button>
    {{ form_end(commentForm) }}

   {% else %}
   <p class="no_margin"> Vous devez être connecté pour pouvoir écrire un commentaire </p>
   <b>
   <a href="{{ path('app_login') }}" >Connexion</a>
   <a href="{{ path('app_register') }}" >Inscription</a>
   </b>
{% endif %}

</div>
<div class="box">
{% if comments|length > 0%}
{% for comment in comments %}
            <div class="row-show">
    <div class="circular--landscape">
    <img src="{{ asset(comment.user.picturePath) }}" alt="">
    </div>
    <b class="comment_content">{{ comment.comment|nl2br }}</b>
    {{ comment.user.firstname }} {{ comment.user.name }} le {{ comment.commentDate|date('Y-m-d') }}
    </div>
{% endfor %}
        {% include 'pagination.html.twig' %}
</div>

{% else %}
    <p>Aucun commentaire</p>
{% endif %}


    </section>
</article>
{% endblock %}
    {% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('js/deleteTrick.js') }}"></script>
        <script src="{{ asset('js/showTrickMedia.js') }}"></script>
    {% endblock %}